*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #003d98, #0076cd, #00a6c1, #00cf7e, #a8eb12);
}
header{
    width: 100%;
    height: 80px;
    background-color: #263a4e;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo{
    width: 50%;
    height: 80px;
}
.menu{
    width: 50%;
    height: 80px;
}
.menu > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.menu > ul li{
    height: 80px;
    width: 140px;
    text-align: center;
    line-height: 80px;
}
.menu > ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    transition: all .3s;

}
.menu > ul li:hover a{
    color: #ffa502;
}
.user{
    height: 80px;
    width: 80px;
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user:hover div{
    display: block;

}
.user > div {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    z-index: 99;
    border-radius: 3px;
    -webkit-box-shadow: 6px 9px 43px -13px rgba(0,0,0,0.76);
    -moz-box-shadow: 6px 9px 43px -13px rgba(0,0,0,0.76);
    box-shadow: 6px 9px 43px -13px rgba(0,0,0,0.76);
}
.user > div > div{
    padding: 15px 25px;
}
.user > div > div:hover{
    background-color: #dfe4ea;
}
.user > div > div a{
    color: black;
    font-size: 1.1em;
    text-decoration: none;
}
.wrap{
    height: auto;
    width: 1060px;
    margin: auto;
    background-color: #f5f6fa;
    -webkit-box-shadow: -1px 10px 22px -10px rgba(0,0,0,0.33);
    -moz-box-shadow: -1px 10px 22px -10px rgba(0,0,0,0.33);
    box-shadow: -1px 10px 22px -10px rgba(0,0,0,0.33);
    padding: 20px;
    margin-top: 80px;
}
.select_dethi{
    height: 300px;
    width: 550px;
    background-color: #f5f6fa;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: all .4s;

}
.select_dethi:hover{
    -webkit-box-shadow: -1px 4px 30px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: -1px 4px 30px 1px rgba(0,0,0,0.34);
    box-shadow: -1px 4px 30px 1px rgba(0,0,0,0.34);
}
.select_dethi::before{
    content: "";
    height: 120%;
    width: 120%;
    position: absolute;
    left: -50px;
    top: -20px;
    background-color: #00a8ff;
    clip-path: circle(30% at 24% 32%);
    z-index: 1;
    transition: all .4s;
}
.select_dethi:hover::before{
    clip-path: circle(71.4% at 49% 49%);
}
.select_dethi:hover div:nth-child(1){
    color: #f5f6fa;
}
.select_dethi > *{
    position: relative;
    z-index: 99;
    padding: 10px;
}
.select_dethi > div:nth-child(1){
    min-height: 40px;
    color: black;
    font-size: 1.5em;
    text-align: center;
    transition: all .3s;
}
.lambai{
    padding: 10px 55px;
    background: rgb(54,44,176);
    background: linear-gradient(90deg, rgba(54,44,176,1) 0%, rgba(167,253,29,1) 0%, rgba(69,252,110,1) 100%);
    border-radius: 30px;
    position: absolute;
    right: 10%;
    bottom: -35px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.made{
    position: absolute;
    bottom: -30px;
    left: 80px;
    width: 150px;
}
.lambai:hover{
    background-size: 200%;
    text-decoration: none;
    color: #00a8ff;
}
.thi_frame{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6fr);
    grid-template-columns: 170px 130px 210px 170px 170px 170px;
    grid-template-areas: "fr1 fr1 fr1 fr1 fr1 fr1" "fr2 fr2 fr3 fr3 fr3 fr3";
}
.thi_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-area: fr1;
    font-size: 1.1em;
    color: #fff;
}
.thi_info > div:nth-child(1){
    background-color: #34495e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
}
.thi_info > div:nth-child(2){
    background-color: #34495e;
    width: 50%;
    padding: 50px;
}
.thi_sodo{
    background-color: #00a6c1;
    grid-area: fr2;
    padding: 5px;
    width: 300px;
}
.thi_thi{
    grid-area: fr3;
    padding: 10px;
    min-height: 600px;
}


.carousel-item{

    min-height: 550px;
}
.sodo{
    position: relative;
}
.sodo_title{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #d35400;
}
.sodo li{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    background-color: #f39c12;
    list-style: none;
    float: left;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    transition: all .3s;
}
.sodo li:hover{
    background-color: #d35400;
}
.next-pre{
    position: absolute;
    top: 800px;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 155px;
}
.tinhthoigianthi{
    position: relative;
    left: 0;
    bottom: 0;
}
.carousel-control-prev, .carousel-control-next{
    width: 90px;
}
.phuonganchon{
    transition: all .3s;
    position: relative;
    z-index: 1;
    padding: 10px;
    font-size: 1.1em;
}
.phuonganchon > input[type='radio']{
    position: relative;
}

.phuonganchon:hover{
    background-color: #e74c3c;
}
.nopbai{
    padding: 8px 25px;
    background-color: #27ae60;
    border: none;
    border-radius: 10px;
    margin: 10px;
    float: right;
    outline: none;
    color: #dfe4ea;
    font-size: 1.2em;
}

/* ----kq baithi-----*/
.kq_baithi{
    height: auto;
    width: 500px;
    margin: auto;
}
.kq_baithi > div{
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: #27ae60;
    color: #f5f6fa;
}
.kq_baithi > table{
    width: 100%;
    border: none;
}
.kq_baithi > table td{
    padding: 20px 15px;
}
.xemketqua > div:nth-child(1){
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.xemketqua > div:nth-child(1) a{
    margin-left: 40px;
    text-decoration: none;
}
.xem_kq{
    padding: 10px;
    background-color: #c0392b;
    color: #f5f6fa;
    transition: all .3s;
    margin-left: 12px;
}
.xem_kq:hover{
    background-color: #e74c3c;
    color: #f5f6fa;
    text-decoration: none;
}
.ds_ketqua{
    width: 700px;
    margin: auto;
    display: none;
}
.ds_nd{
    padding: 10px;
    font-size: 1.3em;
    margin-top: 10px;
}
.ds_tl{
    padding: 10px;
}
#istrue{
    background-color: #2ed573;
}
#isfalse{
    background-color: #c0392b;
}
.laravel{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image: url('../image/laravel.png');
    background-position: center;
}
.space_about{
    height: 12px;
    width: 200px;
    border-radius: 20px;
    background-color: #f1c40f;
    margin: 30px auto;
}
.gioithieu{
    padding: 30px 150px;
    font-size: 1.4em;
    line-height: 2.2;
    font-family: 'Titillium Web', sans-serif;
}

/* ------- footer --------- */
.footer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #263a4e;
}
.footer > .content{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer > .content > .contact{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.footer > .content > .contact .title_contact{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid #e67e22;
}
.footer > .content > .contact .content_contact{
    display: flex;
    flex-direction: column;
}
.footer > .content > .contact .content_contact > div{
    height: 40px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.footer > .content > .contact .content_contact > div > div:nth-child(1){
    color: #fff;
}
.footer > .content > .contact .content_contact > div > div:nth-child(2){
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.footer > .content > .contact .content_contact > div:nth-child(1) > div:nth-child(1){
    height: 40px;
    width: 40px;
    background: url("../image/phone.svg");
    background-repeat: no-repeat;
}
.footer > .content > .contact .content_contact > div:nth-child(2) > div:nth-child(1){
    height: 40px;
    width: 40px;
    background: url("../image/facebook.svg");
    background-repeat: no-repeat;
}
.footer > .content > .contact .content_contact > div:nth-child(3) > div:nth-child(1){
    height: 40px;
    width: 40px;
    background: url("../image/twitter.svg");
    background-repeat: no-repeat;
}
.footer > .content > .contact .content_contact > div:nth-child(4) > div:nth-child(1){
    height: 40px;
    width: 40px;
    background: url("../image/github.svg");
    background-repeat: no-repeat;
}
.footer > .content > .speech{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.speech > div{
    font-size: 1.3em;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid #e67e22;
}
.speech > a{
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    color: #f5f6fa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s;
}
.speech > a:hover{
    color: #e67e22;
}
.footer > .content > .list{
    width: 200px;
    height: 200px;
}
.title_list > div{
    padding: 13px 30px;
}
.title_list > div a{
    text-decoration: none;
    color: #f5f6fa;
    font-size: 1.2em;
    font-weight: bold;
    transition: all .3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title_list > div a:hover{
    color: #e67e22;
}
.footer > .design{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #e67e22 1px solid;
}
.footer > .design div{
    font-size: 0.8em;
    color: #bdc3c7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reset_pass{
    width: 700px;
    margin: auto auto 200px auto;
}
.reset_pass > span{
    margin: auto;
    font-size: 1.3em;
    color: #c0392b;
    font-weight: 600;
}
.time_title{
    margin: 10px;
}
.tinhthoigianthi{
    font-size: 1.3em;
}
.tt{
    padding: 10px;
}


